@page
@model ResendEmailConfirmationModel
@{
    ViewData["Title"] = "Resend email confirmation";
}
<div class="row mt-3">

    <div class="col-md-12" style="margin-bottom: 20px">
        <h1 style="color: black; font-size: 40px;text-align: center; font-weight: bold;">@ViewData["Title"]</h1>
        <h2 style="color: black; font-size: 20px;text-align: center;">
            Enter your email.

        </h2>

    </div>
</div>


<hr />
<div class="row">
    <div class="col-md-6" style="margin-top:100px">
        <section>
        <form method="post">
            <div asp-validation-summary="All" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
                <button type="submit" style="background-color:black" class="w-100 btn btn-lg btn-dark">Resend</button>
        </form>
        </section>
    </div>
    <div class="col-md-6">
        @* col-md-offset-2 *@
        <section>

            <img src="~/images/nextnews.img/breaking (1).jpg" style="width:85%;padding-left:40px;padding-top:20px;" /> @* position:absolute;top:40% *@



        </section>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
