@{
    ViewBag.Title = "About Us";
}

<h2 style="font-weight:bold;padding-top:20px;padding-left:10px">About Us</h2>

<p class="paragraph-spacing">Nextnews is Sweden's First 24-Hours News, Current Affairs, Business, Regional & World news.</p>
<p class="paragraph-spacing">
    Whether it's breaking the news, providing in-depth reports or inspiring discussion among Sweden's political leaders, NEXTnews has <br />
    captured the attention of a nation who wants fast, credible and reliable information as it happens, on the ground. Sweden's first 24-hour news <br />
    and current affairs channel serves Sweden's growing appetite for the most up to date news, both domestic and international, across broadcast, online <br />
    and social media platforms.
</p>
<p class="paragraph-spacing">
    In Sweden, NEXTnews often breaks stories that lead regional and international headlines. More importantly, it is reaching Swedes in remote areas as well as <br />
    connecting those in the global diaspora. Boasting the largest newsroom in the country, NEXTnews' 100 plus news professionals lead the development of Sweden's media <br />
    industry, which was nonexistent less than a decade ago. Salim is the current Director of NEXTnews.
</p>
<p class="paragraph-spacing">NEXTnews broadcasts in English and Swedish, and is available via the internet and social media. Its website, www.nextnews.se, is one of the most popular news sites in Sweden.</p>
<p class="paragraph-spacing">
    NEXTnews <br />
    Street # Västra Svedengatan 10, 582 73 <br />
    Linköping,Sweden.<br />
    Phone <strong>+46- 013-21 01 90</strong>

</p>