<!DOCTYPE html>
<html>
<head>
    <title>Email Template</title>
    <!-- Add some CSS for styling -->
</head>
<body>
    <div id="email-container" style="padding: 20px; text-align: center;">
        <!-- Logo at the top -->
        <img src="https://nextnews.blob.core.windows.net/articleimage/collection-different-news-logos_23-2148453858.jpg" alt="Company Logo" style="max-width: 150px; ">
        
        <!-- Placeholder for the main content -->
        <div id="content" style="margin-top: 20px; border-top: 1px solid #DDD;">
            <br /> <br />
            <div style="font:600">{{main_content}}</div>
        </div>

        <!-- Footer -->
        <footer style="margin-top: 40px; padding-top: 20px; border-top: 1px solid #DDD;">
            <img src="https://nextnews.blob.core.windows.net/articleimage/Fotteremail.jpg" alt="Company Logo" style="width:900px; height:200px" ><br />
            <div style="text-align: center">
                You are receiving this service email because you signed up for a NextNews account.

                This email is sent from an automated account which is not monitored and so we're unable to respond to replies to this email. If you have any questions about your account, you'll find lots of useful info on our FAQs page.
                To find out how we use your personal information, see the NextNews Privacy Policy.<br />
                 NextNews | Svedgatan 1,Linköping | Contact Info:013-21 01 90
           </div>
          
        </footer>
    </div>
</body>
</html>

