@model IEnumerable<NextNews.Models.Database.Category>


<!-- Grid container -->
<div class="text-center lh-1 text-white" style="background-color: black">
    <!-- Section: Links -->
    <!--Grid row-->
    <div class="row">
        <!-- Grid column -->
        <div class="col-12 col-sm-6 col-md-4 align-items-center">
            <h6 class="font-weight-bold mb-0" style="font-size: 18px;">
                <a asp-area="" asp-controller="Home" asp-action="Index" class="text-decoration-none text-white" style="margin-bottom = 0px;">NextNews.com</a>
            </h6>
            <p class="lh-sm m-0">
                Giving you information for your tomorrow
            </p>
            <ul class="list-unstyled d-flex flex-column gap-1">
                @foreach (var item in Model)
                {
                    <li >
                        <a class="text-decoration-none text-white" asp-controller="CategoriesView" asp-action="ArticlesByCategories" asp-route-categoryId="@item.Id">@item.Name</a>
                    </li>
                }
            </ul>
         
        </div>

        <div class="col-12 col-sm-6 col-md-4 mx-auto mt-0 text-white">
            <h6 class="text-uppercase text-white mb-0 font-weight-bold">
                Useful links
            </h6>
            <a asp-area="Identity" asp-page="/Account/Login" target="_blank" class="text-decoration-none text-white">
                <h6 class="text-white mb-0">Login</h6>
            </a>

            <a asp-action="Index" asp-controller="Subscription"  target="_blank" class="text-decoration-none text-white">
                <h6 class="text-white mb-0" style="line-height: 1.5;">Buy Subscription</h6>

            </a>

            <a asp-action="ArchiveArticle" asp-controller="Article" method="post" target="_blank" class="text-decoration-none text-white">
                <h6 class="text-white mb-0" style="line-height: 1.5;">Archived News</h6>

            </a>
            <a asp-action="Create" asp-controller="NewsLetter" method="post" target="_blank" class="text-decoration-none text-white">
                <h6 class="text-white mb-0" style="line-height: 1.5;">Weekly Newsletter</h6>

            </a>

           

            <h6 style="line-height: 1.5;"><a asp-area="" asp-controller="Home" asp-action="Privacy" target="_blank" class="text-decoration-none text-white">Privacy</a></h6>

        </div>

        <!-- Grid column -->
        <div class="col-12 col-sm-6 col-md-4 mx-auto mt-0 text-white">
            <h6 class="text-uppercase mb-0 font-weight-bold">Contact Us</h6>
            <a href="https://maps.app.goo.gl/1eB16JxGWqLfHCoy7" target="_blank" class="text-decoration-none text-white"><h6><i class="mr-0 bi bi-house-fill"></i>Linköping, Västra Svedengatan 10, 582 73, Sweden</h6></a>
            <a href="mailto:linkoping@lexicon.se" target="_blank" class="text-decoration-none text-white"><h6><i class="bi bi-envelope mr-0"></i>MoreNews@NextNews.com</h6></a>
            <h6><i class="bi bi-telephone-fill mr-0"></i> Redaction: +46 13 21 01 90</h6>
            <h6><i class="bi bi-whatsapp mr-0"></i> Anonimous tips: +46 70 449 75 23</h6>
        </div>
        
    </div>
    
    <div class="d-flex  col-12 col-md-4 text-md-start text-white">
        <!-- Grid column -->
        <div class="align-items-center">
            <!-- Copyright -->
            <div>
                © 2023 Copyright:
               <a asp-area="" asp-controller="Home" asp-action="Index" target="_blank" class="text-decoration-none text-white">NextNews.com</a>
            </div>
            <!-- Copyright -->
        </div>
        <!-- Grid column -->
        <!-- Grid column -->
        <div class="align-content-center" style="align-content: center;">
            <!-- Facebook -->
            <a href="https://www.facebook.com/lexiconab" class="btn btn-outline-light btn-floating m-0 text-white" role="button">
                <i class="bi bi-facebook"></i>
            </a>

            @* <!-- Youtube -->
            <a class="btn btn-outline-light btn-floating m-0 text-white" role="button">
                <i class="bi bi-youtube"></i>
            </a> *@

            <!-- Google -->
            <a href="https://www.lexicon.se/" class="btn btn-outline-light btn-floating m-0 text-white" role="button">
                <i class="bi bi-google"></i>
            </a>

            <!-- LinkedIn -->
            <a href="https://www.linkedin.com/company/lexicon/" class="btn btn-outline-light btn-floating m-0 text-white" role="button">
                <i class="bi bi-linkedin"></i>
            </a>
        </div>
        <!-- Grid column -->
    </div>

    <!-- Section: Copyright -->
</div>

