@model NextNews.Models.Database.User


@{
    ViewData["Title"] = "DeleteConfirmed";
}

<h1>DeleteConfirmed</h1>

<p>The user has been successfully deleted.</p>

<a asp-action="ManageUsers" class="btn btn-primary">Back to Manage Users</a>