@model NextNews.Models.Database.User


@{
    ViewData["Title"] = "EditConfirmed";
}

<h1>EditConfirmed</h1>

<p>The user has been successfully editied.</p>


<a asp-controller="User" asp-action="ManageUsers" class="btn btn-primary">Back to Manage Users</a>