<!-- Views/Admin/CreationFailed.cshtml -->
<!DOCTYPE html>
<html>
<head>
    <title>Role Creation Failed</title>
</head>
<body>
    <h1>Role Creation Failed</h1>
    <p>There was an error while trying to create the role. Please try again later.</p>
   
</body>
</html>
